# Віртуальне оточення
venv/
.venv/
env/

# КЕШ Python
__pycache__/
*.pyc

# Конфіги з токенами (якщо є файл .env)
.env

# (За бажанням) База даних, якщо не хочеш вивантажувати свої тестові дані на GitHub
*.db